* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-family: 'Poiret One', sans-serif;
}

small {
    color: gray;
    font-family: 'Montserrat', sans-serif;
}

.vk {
    position: fixed;
    right: 20px;
    bottom: 20px;
}