* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 1rem;
    font-family: 'Poiret One';
}

i {
    color: #cac6c6;
    cursor: pointer;
    transition: .2s;
    font-size: 20px;
}

i:hover {
    color: #2a5885;
}
